.header {
  background-color: #1c2b35;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 135px;
  padding-right: 135px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 40px;
  font-family: "Lato";
  font-size: 18px;
}

.header a:hover {
  color: orange;
}
